body{
font-family: Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
margin-top:100px;
}

.btn{
background:red;
padding:10px 20px;
color:white;
text-decoration:none;
}
